/* General */

a {
    text-decoration: none;
    color: black;
}

/* Header */

.logosake {
    width: 70px;
}


/* Jumbotron */
.jumbotron_main {
    background-image: url(/img/almuerzo-restaurante-chino-terraza-verano-dos-hermanas-comen-sushi-palitos-chinos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: #f1f1f1;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titulo_jumbotron {
    color: #f1f1f1;
    font-size: 80px;
    text-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
    margin: 30px;
    text-align: center;
}

.cta_descargapp {
    color: #f1f1f1;
    font-size: 35px;
    text-shadow: 3px 3px 3px rgba(0, 0 , 0, 0.5);
    margin: 30px;
    background-color: rgba(255, 0, 0, 0.732);
    padding: 5px;
    text-align: center;
}


.contenedor_cta-apps {
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
   justify-content: center;
   align-items: center;
}

.appstorecta {
    width: 200px;
    transition: transform 0.3s ease;
}

.appstorecta:hover {
    transform: scale(1.1);
}

.playstorecta {
    width: 210px;
    transition: transform 0.3s ease;
}

.playstorecta:hover {
    transform: scale(1.1);
}


/* Contenedor de Productos */

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.col {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-text {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}


/* Sección de registro */

.contenedor_registro {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.img_consurso {
    height: 100vh;
    width: 100vh;
    background-image: url(/img/mujer-joven-hablando-telefono-centro-oficina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.imagen_concurso_form {
    width: 100vh;
}

.contenedor_de_registro_rapido {
    color: white;
    padding-right: 50px;
    background-color: rgb(180, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.cta_registro_rapido {
    font-size: 35px;
    font-weight: 900;
}


.form-control {
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registro_email {
    color: white;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form-tex {
    color: white; 
}


.contenedor_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Footer */

.contenedor_footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.logo_footer {
    width: 150px;
}

.subcontenedor_footer {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly
}

.subcontenedor_footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subcontenedor_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.minicontenedor_footer {
    display: flex;
    flex-direction: row;
}

.minisubcontenedor {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 15px;
}

/* .minisubcontenedor h3 {
    text-align: right;
} */

/* .minisubcontenedor ul {
    text-align: left;
} */

.divSeparador {
    border-top: 1px solid #ccc;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
}

.autor {
    color: red;
    size: bold;
}

/* Diseños Responsivos */

/* Pantallas pequeñas */

    @media (max-width: 767px) {
        .jumbotron_main {
            height: 580px;
            text-align: center;
            padding: 50px;
            background-image: url(/img/almuerzo-restaurante-chino-terraza-verano-dos-hermanas-comen-sushi-palitos-chinos.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            background-color: #f1f1f1;
            
        }
    
        .titulo_jumbotron {
            font-size: 36px;
        }
    
        .cta_descargapp {
            font-size: 24px;
            margin: 20px;
        }
    
        .contenedor_cta-apps {
            display: flex;
            flex-direction: row;
            height: 100vh;
            
        }
    
        .appstorecta,
        .playstorecta {
            width: 150px;
        }
    
        .row {
            grid-template-columns: 1fr;
    
        }
    
        .col {
            text-align: center;
        }
    
        .card {
            width: 80%;
            margin: 0 auto 20px;
        }
    
        .contenedor_registro {
            flex-direction: column;
            
            height: auto;
        }

        .img_consurso {
        
            width: auto;
            height: 500px;
            background-image: url(/img/mujer-joven-hablando-telefono-centro-oficina.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;

        }

        .imagen_concurso_form {
            width: 100vh;
        }
    
        .contenedor_de_registro_rapido {
            padding: 50px;   
        }
    
        .cta_registro_rapido {
            font-size: 30px;
        }

        .form-control {
            width: 100%;
        }
    
        .logo_footer {
            width: 100px;
        }

        .subcontenedor_footer {
            display: flex;
            flex-direction: column;
        }

        .subcontenedor_footer2 {
            display: flex;
            flex-direction: column;
        }

        .minicontenedor_footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .copyright {
            text-align: center;
            font-size: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        
        .autor {
            color: red;
            size: bold;
        }
    }
    
  
  /* Pantallas mediana */
 
    @media (min-width: 768px) and (max-width: 991px) {
        .titulo_jumbotron {
            font-size: 48px;
        }
    
        .cta_descargapp {
            font-size: 28px;
        }
    
        .appstorecta,
        .playstorecta {
            width: 180px;
        }
    
        .card {
            width: 80%;
            margin: 0 auto 20px;
        }
    
        .contenedor_registro {
            flex-direction: row;
            height: auto;
        }
    
        .img_consurso {
            height: 400px;
        }
    
        .contenedor_de_registro_rapido {
            padding: 40px;
        }
    }
    
  